*
{
  font-family: Trebuchet MS;

}

p
{
  text-align: center;
  margin: 10px;
  padding: 5px;
}

html
{
	background-color: #97c9f0;
	
}

body
{
	background-image: url("images/cork2.png");
	
	
	min-height: inherit;
	height:600px;
	width: 98% - 30px;
	padding: 20px;
	border: 10px groove gray;
	margin: 1%;
	
	
}

.pin
{
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 15px;
	border: 0px;
	z-index: 20;
	margin:0px;
	background-image: radial-gradient(circle closest-side at 30% 30%, #f0bcb9 40%, #d62a1e 60%, #b01409 200%);
}

.pinshadow
{
	
	
}

#tocpin1
{
	left:20px;
	top:20px;
}

#tocpin2
{
	float:right;
	left:-20px;
	top:-5px
}

a
{
	text-decoration: initial;
	font-weight: bold;
	color: #509ced;
	font-size: 25px;
	transition: color 0.3s linear;
}

a:hover
{
	color: #9f81eb;
}

ul
{
	font-size: 20px;
	padding-bottom: 5px;
}

.title
{
	background-image: linear-gradient(to bottom, white 95%, #cccccc);
	margin-left: 15%;
	width: 70%;
}

.postit
{
	position: absolute;
	background-image: linear-gradient(to bottom, #fcd703 95%, #bfa304);
	margin-left: 10%;
	width: 150px;
	height: 150px;
	z-index: 15;
}

.postitshadow
{
	position: absolute;
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3));
	margin-left: 10%;
	width: 150px;
	height: 150px;
	z-index: 25;
}

#postit1
{
	left:55%;
	top:125px;
	z-index:100;
	
}

#postit1shad
{
	left:55.5%;
	top:131px;
	z-index:99;
}


#postit2
{
	left:25%;
	top:500px;
	cursor: pointer;
	user-select: none;
	
}

#postit2shad
{
	left:25.5%;
	top:506px;
	z-index:14;
}

.sidebar
{
	background-image: linear-gradient(to bottom right, white 80%, #cccccc);
	margin-left: 10%;
	width: 30%;
	float: left;
}

.contact
{
	background-image: linear-gradient(to bottom, white 95%, #cccccc);
	margin-left: 15%;
	margin-top: 80px;
	width: 35%;
	float: left;
	
}

.contactslip
{
	writing-mode: vertical-rl;
	vertical-align: center;
	width:9%;
	border-right: 3px dashed;
	float:left;
	height: 200px;
	
	padding-left: 5%;
	padding-right: 5%;
}

.contactslip a
{
	padding-top: 20px;
	text-align: left;
	font-weight: bold;
	font-size: 25px;
}



@media screen and (max-width: 900px) {
	.sidebar
	{
		margin-left: 5%;
	}
	
	.sidebar a
	{
		font-size: 20px;
	}
	
	
	.contact
	{
		margin-left: 10%;
		width:55%;
	}

	.contactslip
	{
		width:9%;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	#postit2
	{
		left:17.5%;

	}
	
	#postit2shad
	{
		left:18%;
	}

}


@media screen and (max-width: 675px) {
	.sidebar a
	{
		font-size: 16px;
	}
	
	ul
	{
		padding-left:5%;
		font-size: 15px;
	}
	
	#postit2
	{
		left:5%;
		top:475px;

	}
	#postit2shad
	{
		left:5.5%;
		top:481px;
	}
}

@media screen and (max-width: 500px) {
	body
	{
		height:750px;
	}
	
	#postit1
	{
		left:35%;
		top:175px;
		z-index:100;
		
	}

	#postit1shad
	{
		left:36.5%;
		top:181px;
		z-index:99;
	}
	
	#postit2
	{
		left: -5%;
		top:640px;
	}
	#postit2shad
	{
		left:-3.5%;
		top:646px;
	}
	
	.sidebar
	{
		margin-left: 5%;
		width: 35%;
		float: left;
	}

	.sidebar a
	{
		font-size: 12px;
	}
	
	ul
	{
		padding-left:5%;
		font-size: 15px;
	}
	
	.contact
	{
		margin-left: 10%;
		margin-top: 160px;
		width: 50%;
		float: left;
		
	}
	
	.contactslip a
	{
		font-size: 20px;
	}
	
	.contactslip
	{
		border-right: 2px dashed;
		float:left;
		height: 200px;
		
		padding-left: 5%;
		padding-right: 5%;
	}
	
	h2 {
		top:481px;
		font-size: 16px;
		padding-top: 20px;
	}
	
	
	
}